.button {
    background: #C70101;
    border-radius: 5px;
    width: 153px;
    height: 32px;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}
.button.button_main {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    font-size: 16px;
}
.button.button_submit {
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    font-size: 16px;
}
