.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../bg/bg.png) center (center/cover) no-repeat;
    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
        }
    .promo__header {
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
        }
    .promo_subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .promo__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    .promo__icon {
        width: 108px;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
              &:hover {
                content: "";
                transition: 0.3s all;
                color: #ffffff;
                transform: scale(1.1);
             }
        }
        
    }
    .promo__link {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        margin-top: 18px;
        a {
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
